* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    }

nav{
    height: 5vh;
    margin:20px 40px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

 
.menu{
    display: flex;
}
.button{
    display: none;
    text-decoration: none;
    color: gray;
}

main{
    margin: 40px;
    height:auto;

}

.container{
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container img{
    width: 100%;
    height:auto;
    margin:30px 40px 30px 0px;
    
}

@media screen and (min-width:768px) {

    .menu{
        display: none;
    }
    .button{
        display:inline-block;
        padding: 20px;
    }
    .button:hover{
       color: black
    }
    
    .menu-container {
        display: flex;
        justify-content: spa;
        align-items:center;
    }

    .m-i-c{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a b"
        "a c";
        grid-gap: 0px 60px;
        height:33%;
    

    }

    .a{
        grid-area: a;
    }
    .b{
        grid-area: b;
    }
    .s-i-c {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "c d"
        "c e";
        grid-gap: 0px 60px;
        height:33%;

       
    }
       
      .c {
        grid-area: c;
      }
      .d{
        grid-area: d;
      }
      .e{
        grid-area: e;
        }
        
        .t-i-c {
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr ;
            grid-template-areas: 
            "f g";
            grid-gap: 0px 60px;
            height:33%;
             
        } 
        
            .f{
                grid-area: f
            }
            .g{
                grid-area: g
            }
}